PORT = ;
NODE_ENV = ;
CLIENT_URL = ;
MONGODB_URL = ;
JWT_ACCESS_SECRET = ;
JWT_REFRESH_SECRET = ;
JWT_ACCESS_EXPIRY = ;
JWT_REFRESH_EXPIRY = ;
RESEND_API_KEY = ;
FROM_EMAIL = ;
EMAIL_PASS = ;
CLOUDINARY_CLOUD_NAME = ;
CLOUDINARY_API_KEY = ;
CLOUDINARY_API_SECRET = ;